<footer class="font-light bg-bmw-light-gray py-4 px-4 md:px-8 flex flex-row justify-between items-center text-xs md:text-base">
    BMW France 2022
    <nav class="flex flex-row space-x-2">
        <a href="#">Contact</a>
        <a href="#">Mentions légales Assurance</a>
        <a href="#">Mentions légales Services</a>
    </nav>
</footer>