---
import Arobase from "./Arobase.astro";

interface MailButtonProps {
    href: string
}

const { href = "#" } = Astro.props as MailButtonProps;

console.log(Astro.slots.default)
---
<div class="flex justify-center items-center">
    <a href={href} class="text-center text-lg bg-bmw-blue mx-auto px-8 py-4 text-white inline-flex flex-row  w-auto space-x-2 justify-center items-center transition-transform transform-gpu hover:underline underline-offset-4 hover:scale-105">
        <Arobase class="w-5 h-auto" />
        <span class="font-bold">
            <slot />
        </span>
    </a>
</div>