---
import Burger from "./SVG/Burger.astro";

---

<a class="flex flex-row items-center space-x-2 px-4 py-2 rounded-md text-white hover:text-bmw-blue bg-transparent hover:bg-white hover:drop-shadow-md" {...Astro.props}>
    <span>Menu</span>
    <Burger class="w-6 h-auto" />
</a>