---
import { Picture } from "@astrojs/image/components";
import MenuButton from "./MenuButton.astro";
import BmwLogo from "./SVG/BmwLogo.astro";

type PageHeaderProps = {
    imageSrc: ImageMetadata,
    imageAlt: string,
    imagePosition: string,
    title: string,
    subTitle: string,
    menuUrl: string
}

const { imageSrc, imageAlt = "", imagePosition = "center", title, subTitle, menuUrl } = Astro.props as PageHeaderProps;
---

<header class="relative bg-bmw-blue w-full h-64 overflow-hidden">
    <Picture
        src={imageSrc}
        position={imagePosition}
        class="absolute inset-0 w-full h-64 object-cover object-top z-0"
        alt={imageAlt}
        widths={[800, 1280, 1920]}
        sizes=""
        formats={["jpeg"]}
    />
    <div class="bg-gradient-to-bl from-transparent via-black/30 to-black/75 absolute inset-0 h-64 z-10"></div>
    <h1 class="absolute top-10 left-6 md:left-12 text-white text-2xl font-bold text-shadow-xl z-20">BMW Financial Services</h1>
    <div class="absolute top-8 right-6 md:right-12 flex flex-row items-center space-x-2 md:space-x-4 lg:space-x-8 z-20">
        <MenuButton href={menuUrl} />
        <BmwLogo class="w-16 h-auto" />
    </div>
    <div class="absolute bottom-8 left-6 md:left-12 right-12 flex flex-row items-end space-x-5 text-white z-20">
        <slot name="icon" />
        <div class="flex-1 flex flex-col leading-tight uppercase">
            <h2 class="text-lg text-bmw-blue">{ title }</h2>
            <h3 class="text-xl font-bold">{ subTitle }</h3>
        </div>
    </div>
</header>